[mysqld]
innodb_file_per_table=1
default-storage-engine=MyISAM
key_buffer              = 16M
max_allowed_packet=1048576000
thread_stack            = 256K
thread_cache_size       = 256K
max_connections        = 200
table_open_cache=1024
query_cache_limit       = 4M
query_cache_size        = 128M
query_cache_type        = 1
innodb_buffer_pool_size=600M
open_files_limit=50000
sort_buffer_size=16M
innodb_lock_wait_timeout=120
innodb_log_file_size=100M
sort_buffer_size=12M
read_buffer_size=12M
read_rnd_buffer_size=12M
join_buffer_size=128M
max_heap_table_size = 128M

